In [131]:
import pandas as pd
import seaborn as sns
import random
import numpy as np
import math
penguins = pd.read_csv('penguins.csv')

In [132]:
penguins.head(10)

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,MALE
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,FEMALE
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,FEMALE
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,FEMALE
5,Adelie,Torgersen,39.3,20.6,190.0,3650.0,MALE
6,Adelie,Torgersen,38.9,17.8,181.0,3625.0,FEMALE
7,Adelie,Torgersen,39.2,19.6,195.0,4675.0,MALE
8,Adelie,Torgersen,34.1,18.1,193.0,3475.0,NaN
9,Adelie,Torgersen,42.0,20.2,190.0,4250.0,NaN

In [133]:
class ProcessingData:
    
    @staticmethod
    def shuffle(base):
        for x in range(len(base)-1,0,-1):
            newPlace = random.randint(0,x-1)
            base.loc[x],base.loc[newPlace]=base.loc[newPlace],base.loc[x]
            
    @staticmethod
    def normalize(base):
        base.iloc[:,2:-1] = (base.iloc[:,2:-1]-base.iloc[:,2:-1].min())/(base.iloc[:,2:-1].max()-base.iloc[:,2:-1].min())

    @staticmethod
    def devide(base):
        n = int(len(base)*0.7)
        base_tren = base[:n]
        base_valid = base[n:]
        return(base_tren,base_valid)

In [134]:
penguinsEdit = penguins.copy()

ProcessingData.shuffle(penguinsEdit)
ProcessingData.normalize(penguinsEdit)
trening_data,validate_data = ProcessingData.devide(penguinsEdit)

In [135]:
class KNN:

    def distance(x, y, m):
        dist = 0
        for i in range(2,len(y)-1):
            dist += abs(x[i]-y[i])**m
        dist = float(dist**(1/m))
        return dist

    @staticmethod   
    def GetDistance(v):
          return v[1]

    @staticmethod
    def clustering(validate_data, training_data, k, m):
        correct = 0
        for sampleId in range(len(validate_data)):
            distances = list()
            sample = validate_data.iloc[sampleId]
            trueName = sample.species
            for i in range(len(training_data)):
                distance = KNN.distance(sample,training_data.iloc[i],m)
                distances.append((training_data.iloc[i],distance))
                
            distances.sort(key=KNN.GetDistance)
            
            classes = {'Adelie':0,'Chinstrap':0,'Gentoo':0}
            for i in range(k):
                classes[distances[i][0].species] +=1

            if trueName ==  max(classes, key=classes.get):
                correct+=1
        return correct/len(validate_data)*100

In [136]:
m = 3
for k in range (2,5):
    print("k={} m={} => Dokładność - {:.2f}%".format(k,m,KNN.clustering(validate_data,trening_data,k,m)))

k=2 m=3 => Dokładność - 96.15%
k=3 m=3 => Dokładność - 98.08%
k=4 m=3 => Dokładność - 97.12%