In [1]:
import pandas as pd
import seaborn as sns
import random
import numpy as np
iris = pd.read_csv('iris.csv')

class ProcessingData:
    
    @staticmethod
    def shuffle(base):
        for x in range(len(base)-1,0,-1):
            newPlace = random.randint(0,x-1)
            base.loc[x],base.loc[newPlace]=base.loc[newPlace],base.loc[x]
            
    @staticmethod
    def normalize(base):
        base.iloc[:,:-1] = (base.iloc[:,:-1]-base.iloc[:,:-1].min())/(base.iloc[:,:-1].max()-base.iloc[:,:-1].min())
        
    @staticmethod
    def devide(base,n):
        base_tren = base[:n]
        base_valid = base[n:]
        return(base_tren,base_valid)
        
irisEdit = iris.copy()

ProcessingData.shuffle(irisEdit)
ProcessingData.normalize(irisEdit)
trening_data,validate_data = ProcessingData.devide(irisEdit,20)

In [2]:
iris.head(10)

   sepal.length  sepal.width  petal.length  petal.width variety
0           5.1          3.5           1.4          0.2  Setosa
1           4.9          3.0           1.4          0.2  Setosa
2           4.7          3.2           1.3          0.2  Setosa
3           4.6          3.1           1.5          0.2  Setosa
4           5.0          3.6           1.4          0.2  Setosa
5           5.4          3.9           1.7          0.4  Setosa
6           4.6          3.4           1.4          0.3  Setosa
7           5.0          3.4           1.5          0.2  Setosa
8           4.4          2.9           1.4          0.2  Setosa
9           4.9          3.1           1.5          0.1  Setosa

In [3]:
irisEdit.head(10)

   sepal.length  sepal.width  petal.length  petal.width    variety
0      0.694444     0.500000      0.830508     0.916667  Virginica
1      0.083333     0.583333      0.067797     0.083333     Setosa
2      0.666667     0.541667      0.796610     1.000000  Virginica
3      0.222222     0.541667      0.118644     0.166667     Setosa
4      0.111111     0.500000      0.101695     0.041667     Setosa
5      0.416667     0.333333      0.694915     0.958333  Virginica
6      0.388889     0.750000      0.118644     0.083333     Setosa
7      0.416667     0.291667      0.694915     0.750000  Virginica
8      0.611111     0.500000      0.694915     0.791667  Virginica
9      0.416667     0.291667      0.694915     0.750000  Virginica

In [4]:
print(trening_data)

    sepal.length  sepal.width  petal.length  petal.width     variety
0       0.694444     0.500000      0.830508     0.916667   Virginica
1       0.083333     0.583333      0.067797     0.083333      Setosa
2       0.666667     0.541667      0.796610     1.000000   Virginica
3       0.222222     0.541667      0.118644     0.166667      Setosa
4       0.111111     0.500000      0.101695     0.041667      Setosa
5       0.416667     0.333333      0.694915     0.958333   Virginica
6       0.388889     0.750000      0.118644     0.083333      Setosa
7       0.416667     0.291667      0.694915     0.750000   Virginica
8       0.611111     0.500000      0.694915     0.791667   Virginica
9       0.416667     0.291667      0.694915     0.750000   Virginica
10      0.083333     0.458333      0.084746     0.041667      Setosa
11      0.611111     0.416667      0.813559     0.875000   Virginica
12      0.416667     0.291667      0.525424     0.375000  Versicolor
13      0.194444     0.541667      0.067797     0.041667      Setosa
14      0.194444     0.000000      0.423729     0.375000  Versicolor
15      0.194444     0.500000      0.033898     0.041667      Setosa
16      0.222222     0.625000      0.067797     0.041667      Setosa
17      0.500000     0.416667      0.610169     0.541667  Versicolor
18      0.611111     0.333333      0.610169     0.583333  Versicolor
19      0.472222     0.375000      0.593220     0.583333  Versicolor

In [5]:
print(validate_data)

     sepal.length  sepal.width  petal.length  petal.width     variety
20       0.500000     0.375000      0.627119     0.541667  Versicolor
21       0.722222     0.500000      0.796610     0.916667   Virginica
22       0.944444     0.250000      1.000000     0.916667   Virginica
23       0.000000     0.416667      0.016949     0.000000      Setosa
24       0.444444     0.416667      0.542373     0.583333  Versicolor
..            ...          ...           ...          ...         ...
145      0.805556     0.416667      0.813559     0.625000   Virginica
146      0.222222     0.750000      0.152542     0.125000      Setosa
147      0.138889     0.416667      0.067797     0.083333      Setosa
148      0.472222     0.291667      0.694915     0.625000  Versicolor
149      0.166667     0.666667      0.067797     0.000000      Setosa

[130 rows x 5 columns]